<% if @sent %>
<script>
$.notification('Thank you for contacting me!', {
			className: 'jquery-notification',
			duration: 2000,
			freezeOnHover: false,
			hideSpeed: 250,
			position: 'top-right',
			showSpeed: 250,
			zIndex: 99999
		});
</script>
<% end %>

<!-- Wrapper --><div id="wrapper">
	<!-- Vcard --><div id="vcard">
		<div class="clearpx"></div>


<!-- Header -->
   <div id="header">
   
			
			<div style="float:left; position:absolute; top: 57px;"><h1> Cole Diamond</h1></div>
		<ul id="menu">
			<li class="active"><a href="#home">Home</a></li>
			<li><a href="#education">Education</a></li>
			<li><a href="#skills">Skills</a></li>
   			<li><a href="#work">Work</a></li>
			<li><a href="#networks">Networks</a></li>
   			<li><a href="#contact">Contact</a></li>
		</ul>
	</div><!-- End Header -->

	<hr/>

		<!-- Content --><div id="content">

<!-- Scroller -->
   <div id="scroller">
	<!-- Menu Home -->
	<div id="menu_home" class="contentitem">
		<div class="main">
			<div class="pagetitle">Cole Diamond - Welcome</div>
   <h1>Welcome</h1>
	<p><a rel="fancybox" href="<%= asset_path("profile_picture.jpg") %>" title="Cole Diamond"><%= image_tag "profile_picture.jpg", :width => "80", :height=>"80" %></a>
	</p>
	<p>Born and raised in Great Neck, New York, Cole Diamond is a junior at Columbia University where he studies Computer Science and Financial Economics.
		Feel free to explore the site to find out more about Cole.</p>
			</div>

	<div class="sidebar">
		<h2>Specialties</h2>
			<ul>
				<li>Financial Economics</li>
				<li>Algorithmic Trading</li>
				<li>Web Development</li>
				<li>Software Engineering</li>
				<li>Computational Mathematics</li>
			</ul>

		<hr class="spacer"/>

			<a class="button" href="#contact">Contact me</a>
		</div>
	</div><!-- End Menu Home -->

	<div id="menu_education" class="contentitem">
			<div class="pagetitle">Cole Diamond - Education</div>
				<div class="main">
		<h1>Curriculum Vitae</h1>
			<ul class="skills" special>
				<li><span class="topic">Columbia University (2009-2013)</span>
				BS, Computer Science; BA, Financial Economics (3.8 GPA) </li>
				<li><span class="topic">John L Miller Great Neck North High School</span>Valedictorian of the Class of 2009</li>
				<li><span class="topic">Distinctions</span>HackNY Fellow, National AP Scholar, 2360/2400 SAT <span style="margin-top: 5px; position:relative; left:159px;"> Deans List (All Semesters), Treasurer of ACM at Columbia</span></li>
			</ul>
				</div>
				<div class="sidebar" style="margin-bottom:0px; padding:0px; font-size:10px;">

					<h2 style="margin-bottom:3px; margin-top:0px; padding:0px;">Relevant Coursework</h2>
						<ul style="margin-top:8px;">	
						<li class="li-moreinfo" style="padding:0px;">
							<p class="nopadding">
						<span style="margin-bottom:8px;">	Mathematics: Calculus I-V, Discrete Math, Linear Algebra
							Scientific Computation</span>
						<span style="margin-bottom:5px;">CS: Intro to Java, Object Oriented Programming, Data Structures,
							CS Theory, Advanced Programming, Robotics, Databases </span>
						<span style="margin-bottom:8px;">Economics: Principles of Economics, Microeconomics, Macroeconomics,
							Accounting and Finance <br/>
							</p>
							                                                                      
						</li>
						</ul>
					</div>
			
			
				
	 </div>

	<div id="menu_skills" class="contentitem">
			<div class="pagetitle">Cole Diamond - Skills</div>
				<div class="main">
		<h1>Programming Skills</h1>
			<ul class="skills">
				<li><span class="topic">Proficiency (4 years +)</span>Java 6.0, Python, HTML/CSS/JQuery &amp; SQL </li>
				<li><span class="topic">Experience (2 years +)</span>Perl, Ruby,  C/C++ &amp; GitHub</li>
				<li><span class="topic">In training (1 year)</span>JSP, PHP, MongoDB &amp; PostgreSQL</li>
				<li><span class="topic">Frameworks</span> Django and Ruby on Rails (2.3, 3.0, 3.1), 3 years</li>
			</ul>
				</div>

		<div class="sidebar">

		<h2 style="margin-bottom:3px;">Websites Created</h2>
			<ul style="margin-top:3px;">	
			<li class="li-moreinfo">
				<p class="nopadding" sites>
					 <a href="http://www.greekgavel.com" target="_blank" site="greekgavel">GreekGavel</a><br/>
					<b>A Social Network for Fraternities</b>
					<br/><br/>
					 <a href="http://www.matchu.me" target="_blank" site="matchume">MatchU.Me</a><br/>
						<b>Find Your Match, 100% Anonymously</b>
					<br/><br/>
					<a href="http://www.mealmecca.com" target="_blank" site="mealmecca">MealMecca</a><br/>
						<b>Rate Menus, Not Restaurants</b> 
					<br/> 					<br/>    
					<a href="http://w4111a.cs.columbia.edu/~tlm2116/databases/index.php" target="_blank" site="flashd">Flash'd</a><br/>
						<b>An Intuitive Flashcard App</b> 
					<br/><br/>                                                                                    
				</p>	
			</li>
			</ul>
		</div>
	</div><!-- Menu Work -->

		<div id="menu_work" class="contentitem">
			<div class="pagetitle">Cole Diamond - Experience</div>

					<div class="main" style="margin-right: 0px; width: 70%;">
			<h1>Work experience</h1>
			  <ul class="skills">
				<li><span class="topic">Gilt Groupe </span><br/><p>Software Engineer Intern New York, NY (05/2011 - 08/2011) </p></li>
				<li><span class="topic">JP Morgan Chase</span><br/><p><%= "risk management intern".titleize() %>  (06/2010 - 08/2010)</p></li>
			    <li><span class="topic">Columbia University </span><br/><p> <%= "research assistant: machine learning".titleize %> (06/2009 - 08/2009)</p></li>
			  </ul>
		</div>
					
		<div class="sidebar">
				<h2 class="link" style="cursor:pointer;" onclick="window.location='<%= asset_path "resume.pdf" %>';" >Download Resume</a></h2>
				<ul>
				<li class="li-moreinfo">
				<p class="nopadding">
			
				<ul class="thumb">
					<a  href="<%= asset_path "resume.jpg" %>" rel="resume" ><%= image_tag "resume.jpg", :height => "153px", :width => "135px;", :style => "position:absolute; z-index:1000;", :title => "Click to Preview" %></a>
					<a  href="<%= asset_path "resume2.jpg" %>" rel="resume"></a>
					
					</li>
				</ul>
				</p>
				</li>
				</ul>
		</div>
	</div><!-- End menu work -->


		<!-- Menu Networks --><div id="menu_networks" class="contentitem">
			<div class="pagetitle">Cole Diamond - Networks</div>
		<h1>Let's connect...</h1>

			<ul class="networks">
				<li><a href="http://www.facebook.com/coleidiamond" target="_blank"><span class="background"></span><span class="content"><img src="assets/networks/facebook.png" alt="facebook"/><span class="title"><span class="sname">Facebook</span><span class="surl"><br/>facebook.com/coleidiamond</span></span></span></a></li>
				<li><a href="http://twitter.com/#!/coal_diamond" target="_blank"><span class="background"></span><span class="content"><img src="assets/networks/twitter.png" alt="twitter"/><span class="title"><span class="sname">Twitter</span><span class="surl"><br/>@coal_diamond</span></span></span></a></li>
				<li><a href="http://www.linkedin.com" target="_blank"><span class="background"></span><span class="content"><img src="assets/networks/linkedin.png" alt="linkedin"/><span class="title"><span class="sname">LinkedIn</span><span class="surl"><br/>linkedin.com/colediamond</span></span></span></a></li>
			</ul>
			</div><!-- End Menu Networks -->

		<!-- Menu Contact -->
		<div id="menu_contact" class="contentitem">
			<div class="pagetitle">John Doe - Let's chat</div>
				<div class="main contact">

		<h1>Contact</h1>
	
			<div id="email_form">
				<form method="post">
				<input type="text" name="name" value="name"/>
				<input type="text" name="email" value="email"/>
				<textarea name="message" rows="4" cols="4">message</textarea>
				<input type="submit" class="sendbutton sendmail" value="send"/>
				</form>
			</div>

			
					<div id="email_send">
						<h2>Your email has been sent!</h2>
						<p>I'll get back to you as soon as possible.<br/>In the meanwhile check out my <a href="#networks">social network profiles</a>.</p>
					</div>
				</div>

				<div class="sidebar">	
			<h2>Cole Diamond</h2>
			<p>2849 Lerner Hall, 2920 Broadway
			 <br/>New York NY 10027<br/>United States<br/><br/>Cell: +516 996 7037<br/>Email: <a href="mailto:cid2105@columbia.edu">cid2105@columbia.edu</a><br/></p><hr class="spacer" /><a class="button" href="#">Download vCard</a>
	</div>
	</div><!-- End Menu Contact -->
	</div><!-- End Scroller -->
	</div><!-- End Content -->
	</div><!-- End Vcard -->
	</div><!-- End Wrapper -->
	
	    <script type="text/javascript">
		$(document).ready(function()
		{
			$("[rel='resume']").fancybox({
					'transitionIn'	:	'elastic',
					'transitionOut'	:	'elastic',
					'speedIn'		:	600, 
					'speedOut'		:	200, 
					'overlayShow'	:	false
			}).find("img").tipsy({fade: true, gravity: 's'})
			
			$("[rel*='fancybox']").fancybox();
			
			$("h2.link").hover(function (){
			        $(this).css("text-decoration", "underline");
			    },function(){
			        $(this).css("text-decoration", "none");
			    }
			);
			

 		   var apiKey = 'ReuyKzSZUUjL';

		    // Notice the use of the each method to gain access to each element individually
		    $('a[site]').each(function()
		    {
		        // Grab the URL from our link
		        var url = "assets/" +  $(this).attr('site') + ".png";
		
		        // Create image thumbnail using Websnapr thumbnail service
		        thumbnail = $('<img />').attr({
		            src: url,
		            alt: 'Loading thumbnail...',
		            width: 202,
		            height: 152
		        });

		        // Setup the tooltip with the content
		        $(this).qtip(
		        {
		            content: thumbnail,
		            position: {
		                corner: {
		                    tooltip: 'bottomMiddle',
		                    target: 'topMiddle'
		                }
		            },
		            style: {
		                tip: true, // Give it a speech bubble tip with automatic corner detection
					    border: {
					         radius: 8,
					         color: '#777'
					      },
						name: 'light'
		            }
		        });
		    });


		});

	    </script>
	

