<!DOCTYPE html>
<html>
<head>
  <title>Cole Diamond</title>
<%= render 'layouts/javascripts' %>
<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application" %>

<link rel="image_src" type=" image/jpeg" href="assets/vcard/profile.jpg" />


  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
 
</body>
</html>
